<div>
  {#await getJoke() then joke}
    {joke}
  {:catch error}
    <h3>{error}</h3>
  {/await}
</div>

<script>
async function getJoke () {
  const url = 'http://api.icndb.com/jokes/random?limitTo=[nerdy]';
  const resp = await fetch(url);
  const json = await resp.json();
  
  return json.value.joke;
}
</script>

<style>
div {
  padding: 25px;
  background: #eee;
  color: black;
}
</style>

<svelte:options tag="chuck-joke" />
